{
  "presets": ["es2015", "stage-2", "react"],
  "env": {
    "development": {
      "plugins": [
        ["transform-define", "./config/development/application.config.js"],
        ["react-hot-loader/babel"]
      ]
    },
    "jest": {
      "plugins": [
        ["transform-define", "./config/jest/application.config.js"]
      ]
    },
    "production": {
      "plugins": [
        ["transform-define", "./config/production/application.config.js"]
      ]
    }
  }
}
