{
  "presets": ["es2015", "stage-2", "react"],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./frontend/config/jest/webpack.config.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}